.gallary__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px
}
.gallary__photoContainer{
    position: relative;
}
.gallary__photo {
    width: calc((1120px/3) - 16px);
    height: calc((1120px/3) - 16px);
    object-fit: cover;
    transition: transform .3s;
    cursor: pointer;
}

.gallary__photo:hover {
    transform: scale(1.06);
}



.gallary__popup {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, .8);
    transition: opacity .3s, visibility .3s;
    z-index: 11;
    -ms-overflow-style: none;
}

.gallary__popup.open {
    opacity: 1;
    visibility: visible;
}

.gallary__popup::-webkit-scrollbar {
    display: none;
}

.gallary__popupClose {
    width: 48px;
    height: 48px;
    padding: 24px 0;
    position: absolute;
    top: 24px;
    right: 80px;
    cursor: pointer;
    z-index: 1;
}

.gallary__popupClose span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.gallary__popupClose span:first-child {
    transform: rotate(45deg);
}

.gallary__popupClose span:last-child {
    transform: rotate(-45deg);

}

.gallary__popupImage {
    position: absolute;
    top: 0;
    padding: 80px 0;
}



@media (max-width: 1152px) {
    .gallary__container {
        max-width: 736px;
        margin: 0 auto;
    }
    .gallary__container span{
        width: 100%;
        height: 100%;
    }
    .gallary__photo {
        width: calc(736px/2 - 12px);
        height: calc(736px/2 - 12px);
        object-fit: cover;
        transition: transform .3s;
        cursor: pointer;
    }
}



@media (max-width: 767px) {
    .gallary__container {
        max-width: 480px;
    }
    .gallary__photo {
        max-width: 480px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        object-fit: cover;
        object-position: center;
    }
    .gallary__photoContainer{
        width: 100%;
    }
    .gallary__photoContainer:after {
        content: "";
        display: block;
        padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
      }
}
