.header{
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 16px 0;
    z-index: 10;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    font-size: 46px;
    line-height: 100%;
    font-weight: 600;
    color: var(--silver);
    text-decoration: none;
}
.header__nav{
    display: flex;
    gap: 16px;
}
.header__nav a{
    font-weight: 300;
    color: var(--black);
    text-decoration: none;
}
.header__nav a:hover{
    color: var(--silver);
    text-decoration: none;
}
.header__navMob{
    display: none;
}
.header__burgerBTN{
    display: none;
    width: 44px;
    height: 28px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
}

.header__burgerBTN span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--darkGrey);
    opacity: 1;
    left: 0;
          border-radius: 3px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.header__burgerBTN span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

.header__burgerBTN span:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

.header__burgerBTN span:nth-child(3) {
    top: 25px;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

.header__burgerBTN.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 0px;
}

.header__burgerBTN.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.header__burgerBTN.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 31px;
    left: 0px;
}
.header__burgerBTN:hover span{
    background: var(--darkGrey);
}


@media (max-width: 1152px) {
    .header{
        padding: 24px 0;
    }
    .header__container{
        max-width: 736px;
        margin: 0 auto;
    }
}


@media (max-width: 767px) {
    .header{
        padding: 16px 0;
    }
    .header__nav{
        display: none;
    }
    .header__navMob{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        transform: translateY(-100vw);
        transition: transform .3s, padding .3s, opacity .3s, visibility .3s;
        position: fixed;
        top: var(--headerHeight);
        left: 0;
        width: 100vw;
        height: calc(100vh - var(--headerHeight));    
        opacity: 0;
        visibility: hidden;
        background-color: #fff;
        /* overflow: scroll; */
    }
    .header__navMob.open{
        transform: translateY(0);
        padding-top: 32px;    
        opacity: 1;
        visibility: visible;
    }
    .header__navMob a{
        font-weight: 300;
        color: var(--black);
        text-decoration: none;
    }
    .header__navMob:hover{
        color: var(--silver);
        text-decoration: none;
    }
    .header__burgerBTN{
        display: block;
    }
}
