.notFound__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notFound__container>* {
    max-width: 544px;
    width: 100%;
}

@media (max-width: 1152px) {
    .notFound__container {
        justify-content: center;
        gap: 32px;
    }

    .notFound__container>* {
        max-width: 352px;
    }
}

@media (max-width: 767px) {
    .notFound__container {
        flex-direction: column-reverse;
        gap: 32px;
    }

    .notFound__container>* {
        max-width: 448px;
        text-align: center;
    }
}