
.socials{
    display: flex;
    align-items: center;
    gap: 24px;
}
.social{
    width: 20px;
    height: 20px;
}
.social svg{
    /* fill: var(--silver); */
    transition: fill .3s;
    width: 100%;
    height: 100%;
}
.social:hover svg{
    fill: var(--black);
}