/* autoprefixer grid: autoplace */


*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;



  --black: #101010;
  --white: #ffffff;
  --lightGrey: #F8F8F8;
  --mediumGrey: #d1d1d1;
  --silver: #8f8f8f;
  --darkGrey: #454545;
  --colorTextAlert: #c94e43;


  --fontSize10: 10px;
  --fontSize12: 12px;
  --fontSize14: 14px;
  --fontSize16: 16px;
  --fontSize20: 20px;
  --fontSize22: 22px;
  --fontSize24: 24px;
  --fontSize28: 28px;
  --fontSize32: 32px;
  --fontSize36: 36px;

  --space-4: 4px;
  --space-8: 8px;
  --space-16: 16px;
  --space-24: 24px;
  --space-26: 26px;
  --space-32: 32px;
  --space-36: 32px;
  --space-48: 48px;
  --space-64: 64px;
  --space-96: 96px;
  --space-120: 120px;

  --maxWidth: 1120px;
}







/* Typograbhy */

body {
  font-size: var(--fontSize16);
  line-height: var(--fontSize24);
  font-weight: 400;
}

h1,
.h1 {
  font-weight: 700;
  font-size: var(--fontSize36);
  line-height: 130%;
}

h2,
.h2 {
  font-weight: 700;
  font-size: var(--fontSize28);
  line-height: var(--fontSize36);
}

h3,
.h3,
.h3-medium,
.h3-caps,
blockquote,
blockquote * {
  font-weight: 500;
  font-size: var(--fontSize20);
  line-height: var(--fontSize26);
}

.h3-medium,
blockquote,
blockquote * {
  font-weight: 700;
}

.h3-caps {
  font-weight: 700;
  text-transform: uppercase;
}

.body-l,
.body-lMedium,
.body-lBold,
.body-lCaps,
.body-lLink {
  font-weight: 400;
  font-size: var(--fontSize16);
  line-height: var(--fontSize24);
}

.body-lMedium {
  font-weight: 500;
}

.body-lBold {
  font-weight: 700;
}

.body-lCaps {
  font-weight: 500;
  text-transform: uppercase;
}

.body-lLink {
  text-decoration-line: underline;
}

.body-m,
.body-mMedium,
.body-mLink {
  font-weight: 400;
  font-size: var(--fontSize14);
  line-height: 150%;
}

.body-mMedium {
  font-weight: 500;
}

.body-mLink {
  text-decoration-line: underline;
}

.body-s,
.body-sCaps,
.body-sLink {
  font-weight: 400;
  font-size: var(--fontSize12);
  line-height: var(--fontSize16);
}

.body-sCaps {
  text-transform: uppercase;
}

.body-sLink {
  text-decoration-line: underline;
}

.body-madelyn64 {
  font-weight: 400;
  font-size: 64px;
  line-height: 97%;
}

.body-madelyn56 {
  font-weight: 400;
  font-size: 56px;
  line-height: 100%;
}



.body-xs {
  font-weight: 400;
  font-size: var(--fontSize10);
  line-height: var(--fontSize12);
}

.btn {
  font-weight: 400;
  font-size: var(--fontSize12);
  line-height: var(--fontSize12);
  text-transform: uppercase;
}


a {
  text-decoration: underline;
  color: var(--black);
  -webkit-transition: color.2s;
  -o-transition: color.2s;
  transition: color.2s;
}

a:hover {
  color: var(--silver);
}


.body-footerLink {
  font-weight: 400;
  font-size: var(--fontSize16);
  line-height: var(--fontSize24);

}




@media (max-width: 1152px) {

  h1,
  .h1 {
    font-size: var(--fontSize32);
  }

  h2,
  .h2 {
    font-size: var(--fontSize24);
    line-height: 130%;
  }

  .body-footerLink {
    font-size: var(--fontSize14);
    line-height: 150%;
  }
}

@media (max-width: 767px) {

  h1,
  .h1 {
    font-size: var(--fontSize24);
  }

  h2,
  .h2 {
    font-size: var(--fontSize22);
  }
}








html {
  margin-right: calc(-1 * (100vw - 100%));
}

html,
body {
  min-height: 100%;
  overflow-x: clip;
}


body {
  color: black;
  font-family: 'Rubik', sans-serif;
  width: calc(100vw - (100vw - 100%));
}

/*  Page Center  */

.page-center {
  position: relative;
  float: none;
  max-width: calc(var(--maxWidth) + 32px);
  width: 100%;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}

.block-scroll {
    overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
  top: 0;
  position: fixed;
}


.hidded {
  visibility: hidden;
  -webkit-transition: visibility 1s;
  -o-transition: visibility 1s;
  transition: visibility 1s;
}

.show {
  visibility: visible !important;
  -webkit-transition: visibility 1s;
  -o-transition: visibility 1s;
  transition: visibility 1s;
}




p,
a {
  margin-bottom: var(--space-xs);
}

p:last-child,
a:last-child {
  margin-bottom: 0;
}

.hs_cos_wrapper_type_rich_text ul {
  padding-left: 16px;
}


@media(max-width: 1152px) {
  .page-center {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media(max-width: 767px) {}
















/*  PADDING */

.pt-120,
.py-120{
  padding-top: 120px !important;
}
.pt-96,
.py-96{
  padding-top: 96px !important;
}
.pt-64,
.py-64{
  padding-top: 64px !important;
}
.pt-48,
.py-48{
  padding-top: 48px !important;
}
.pt-32,
.py-32{
  padding-top: 32px !important;
}
.pt-24,
.py-24{
  padding-top: 24px !important;
}
.pt-16,
.py-16{
  padding-top: 16px !important;
}
.pt-8,
.py-8{
  padding-top: 8px !important;
}
.pt-4,
.py-4{
  padding-top: 4px !important;
}

.pb-120,
.py-120{
  padding-bottom: 120px !important;
}
.pb-96,
.py-96{
  padding-bottom: 96px !important;
}
.pb-64,
.py-64{
  padding-bottom: 64px !important;
}
.pb-48,
.py-48{
  padding-bottom: 48px !important;
}
.pb-32,
.py-32{
  padding-bottom: 32px !important;
}
.pb-24,
.py-24{
  padding-bottom: 24px !important;
}
.pb-16,
.py-16{
  padding-bottom: 16px !important;
}
.pb-8,
.py-8{
  padding-bottom: 8px !important;
}
.pb-4,
.py-4{
  padding-bottom: 4px !important;
}

.pl-120,
.px-120{
  padding-left: 120px !important;
}
.pl-96,
.px-96{
  padding-left: 96px !important;
}
.pl-64,
.px-64{
  padding-left: 64px !important;
}
.pl-48,
.px-48{
  padding-left: 48px !important;
}
.pl-32,
.px-32{
  padding-left: 32px !important;
}
.pl-24,
.px-24{
  padding-left: 24px !important;
}
.pl-16,
.px-16{
  padding-left: 16px !important;
}
.pl-8,
.px-8{
  padding-left: 8px !important;
}
.pl-4,
.px-4{
  padding-left: 4px !important;
}

.pr-120,
.px-120{
  padding-right: 120px !important;
}
.pr-96,
.px-96{
  padding-right: 96px !important;
}
.pr-64,
.px-64{
  padding-right: 64px !important;
}
.pr-48,
.px-48{
  padding-right: 48px !important;
}
.pr-32,
.px-32{
  padding-right: 32px !important;
}
.pr-24,
.px-24{
  padding-right: 24px !important;
}
.pr-16,
.px-16{
  padding-right: 16px !important;
}
.pr-8,
.px-8{
  padding-right: 8px !important;
}
.pr-4,
.px-4{
  padding-right: 4px !important;
}



/*  MARGIN */

.mt-120,
.my-120{
  margin-top: 120px !important;
}
.mt-96,
.my-96{
  margin-top: 96px !important;
}
.mt-64,
.my-64{
  margin-top: 64px !important;
}
.mt-48,
.my-48{
  margin-top: 48px !important;
}
.mt-32,
.my-32{
  margin-top: 32px !important;
}
.mt-24,
.my-24{
  margin-top: 24px !important;
}
.mt-16,
.my-16{
  margin-top: 16px !important;
}
.mt-8,
.my-8{
  margin-top: 8px !important;
}
.mt-4,
.my-4{
  margin-top: 4px !important;
}

.mb-120,
.my-120{
  margin-bottom: 120px !important;
}
.mb-96,
.my-96{
  margin-bottom: 96px !important;
}
.mb-64,
.my-64{
  margin-bottom: 64px !important;
}
.mb-48,
.my-48{
  margin-bottom: 48px !important;
}
.mb-32,
.my-32{
  margin-bottom: 32px !important;
}
.mb-24,
.my-24{
  margin-bottom: 24px !important;
}
.mb-16,
.my-16{
  margin-bottom: 16px !important;
}
.mb-8,
.my-8{
  margin-bottom: 8px !important;
}
.mb-4,
.my-4{
  margin-bottom: 4px !important;
}

.ml-120,
.mx-120{
  margin-left: 120px !important;
}
.ml-96,
.mx-96{
  margin-left: 96px !important;
}
.ml-64,
.mx-64{
  margin-left: 64px !important;
}
.ml-48,
.mx-48{
  margin-left: 48px !important;
}
.ml-32,
.mx-32{
  margin-left: 32px !important;
}
.ml-24,
.mx-24{
  margin-left: 24px !important;
}
.ml-16,
.mx-16{
  margin-left: 16px !important;
}
.ml-8,
.mx-8{
  margin-left: 8px !important;
}
.ml-4,
.mx-4{
  margin-left: 4px !important;
}

.mr-120,
.mx-120{
  margin-right: 120px !important;
}
.mr-96,
.mx-96{
  margin-right: 96px !important;
}
.mr-64,
.mx-64{
  margin-right: 64px !important;
}
.mr-48,
.mx-48{
  margin-right: 48px !important;
}
.mr-32,
.mx-32{
  margin-right: 32px !important;
}
.mr-24,
.mx-24{
  margin-right: 24px !important;
}
.mr-16,
.mx-16{
  margin-right: 16px !important;
}
.mr-8,
.mx-8{
  margin-right: 8px !important;
}
.mr-4,
.mx-4{
  margin-right: 4px !important;
}




@media (max-width: 1152px){

  /*  PADDING */

  .pt-120,
  .py-120{
    padding-top: 96px !important;
  }
  .pt-96,
  .py-96{
    padding-top: 64px !important;
  }
  .pt-64,
  .py-64{
    padding-top: 48px !important;
  }

  .pb-120,
  .py-120{
    padding-bottom: 96px !important;
  }
  .pb-96,
  .py-96{
    padding-bottom: 64px !important;
  }
  .pb-64,
  .py-64{
    padding-bottom: 48px !important;
  }

  .pl-120,
  .px-120{
    padding-left: 96px !important;
  }
  .pl-96,
  .px-96{
    padding-left: 64px !important;
  }
  .pl-64,
  .px-64{
    padding-left: 48px !important;
  }

  .pr-120,
  .px-120{
    padding-right: 96px !important;
  }
  .pr-96,
  .px-96{
    padding-right: 64px !important;
  }
  .pr-64,
  .px-64{
    padding-right: 48px !important;
  }



  /*  MARGIN */

  .mt-120,
  .my-120{
    margin-top: 96px !important;
  }
  .mt-96,
  .my-96{
    margin-top: 64px !important;
  }
  .mt-64,
  .my-64{
    margin-top: 48px !important;
  }

  .mb-120,
  .my-120{
    margin-bottom: 96px !important;
  }
  .mb-96,
  .my-96{
    margin-bottom: 64px !important;
  }
  .mb-64,
  .my-64{
    margin-bottom: 48px !important;
  }

  .ml-120,
  .mx-120{
    margin-left: 96px !important;
  }
  .ml-96,
  .mx-96{
    margin-left: 64px !important;
  }
  .ml-64,
  .mx-64{
    margin-left: 48px !important;
  }

  .mr-120,
  .mx-120{
    margin-right: 96px !important;
  }
  .mr-96,
  .mx-96{
    margin-right: 64px !important;
  }
  .mr-64,
  .mx-64{
    margin-right: 48px !important;
  }
  
}


@media (max-width: 767px){

  /*  PADDING */

  .pt-120,
  .py-120{
    padding-top: 64px !important;
  }
  .pt-48,
  .py-48{
    padding-top: 32px !important;
  }
  .pt-32,
  .py-32{
    padding-top: 24px !important;
  }
  .pt-24,
  .py-24{
    padding-top: 16px !important;
  }

  .pb-120,
  .py-120{
    padding-bottom: 64px !important;
  }
  .pb-48,
  .py-48{
    padding-bottom: 32px !important;
  }
  .pb-32,
  .py-32{
    padding-bottom: 24px !important;
  }
  .pb-24,
  .py-24{
    padding-bottom: 16px !important;
  }

  .pl-120,
  .px-120{
    padding-left: 64px !important;
  }
  .pl-48,
  .px-48{
    padding-left: 32px !important;
  }
  .pl-32,
  .px-32{
    padding-left: 24px !important;
  }
  .pl-24,
  .px-24{
    padding-left: 16px !important;
  }

  .pr-120,
  .px-120{
    padding-right: 64px !important;
  }
  .pr-48,
  .px-48{
    padding-right: 32px !important;
  }
  .pr-32,
  .px-32{
    padding-right: 24px !important;
  }
  .pr-24,
  .px-24{
    padding-right: 16px !important;
  }



  /*  MARGIN */

  .mt-120,
  .my-120{
    margin-top: 64px !important;
  }
  .mt-48,
  .my-48{
    margin-top: 32px !important;
  }
  .mt-32,
  .my-32{
    margin-top: 24px !important;
  }
  .mt-24,
  .my-24{
    margin-top: 16px !important;
  }

  .mb-120,
  .my-120{
    margin-bottom: 64px !important;
  }
  .mb-48,
  .my-48{
    margin-bottom: 32px !important;
  }
  .mb-32,
  .my-32{
    margin-bottom: 24px !important;
  }
  .mb-24,
  .my-24{
    margin-bottom: 16px !important;
  }

  .ml-120,
  .mx-120{
    margin-left: 64px !important;
  }
  .ml-48,
  .mx-48{
    margin-left: 32px !important;
  }
  .ml-32,
  .mx-32{
    margin-left: 24px !important;
  }
  .ml-24,
  .mx-24{
    margin-left: 16px !important;
  }

  .mr-120,
  .mx-120{
    margin-right: 64px !important;
  }
  .mr-48,
  .mx-48{
    margin-right: 32px !important;
  }
  .mr-32,
  .mx-32{
    margin-right: 24px !important;
  }
  .mr-24,
  .mx-24{
    margin-right: 16px !important;
  }
  
}














/* FORM */

/* All Global Forms
========================================================================== */

/* Form Field */
body .hs-form-field {
  position: relative;
  margin-bottom: 20px;
}

/* Labels */
body .hs-form-field > label {
/*   display: none; */
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
}
body .hs-form-required {
  display: none;
}
body .hs-error-msgs {
  padding: 0;
  margin: 0;
}
body .hs-error-msgs li:before {
  content: none;
}

body form.hs-form .legal-consent-container {
  margin-bottom: 1.5rem;
}

/* One Line Inputs */
body input[type="text"],
body input[type="password"],
body input[type="datetime"],
body input[type="datetime-local"],
body input[type="date"],
body input[type="month"],
body input[type="time"],
body input[type="week"],
body input[type="number"],
body input[type="email"],
body input[type="url"],
body input[type="search"],
body input[type="tel"],
body input[type="color"],
body input[type="file"],
body textarea,
body select {
  width: 100%;
  font-weight: 400;
  font-family: var(--defaultFont);
  font-size: var(--fontSize16);
  line-height: var(--fontSize24);
  color: var(--black);
  border: 0;
  border-bottom: 1px solid var(--black);
  padding: 12px 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0 !important;
	background: none;
}
body textarea{
  max-width: 100%;
  width: 100%;
  min-height: 49px;
}

body input,
textarea{
  margin-bottom: 16px;
}

body input[type="text"]:hover,
body input[type="password"]:hover,
body input[type="datetime"]:hover,
body input[type="datetime-local"]:hover,
body input[type="date"]:hover,
body input[type="month"]:hover,
body input[type="time"]:hover,
body input[type="week"]:hover,
body input[type="number"]:hover,
body input[type="email"]:hover,
body input[type="url"]:hover,
body input[type="search"]:hover,
body input[type="tel"]:hover,
body input[type="color"]:hover,
body input[type="file"]:hover,
body textarea:hover,
body select:hover {
  cursor: text;
}
body select:hover {
  cursor: pointer;
}

body input[type="text"]:focus,
body input[type="password"]:focus,
body input[type="datetime"]:focus,
body input[type="datetime-local"]:focus,
body input[type="date"]:focus,
body input[type="month"]:focus,
body input[type="time"]:focus,
body input[type="week"]:focus,
body input[type="number"]:focus,
body input[type="email"]:focus,
body input[type="url"]:focus,
body input[type="search"]:focus,
body input[type="tel"]:focus,
body input[type="color"]:focus,
body input[type="file"]:focus,
body textarea:focus,
body select:focus {
  outline: 0;
}


/* Custom Input Styles */




/* 
input[type="checkbox"]:not(checked):not(#globalunsub){
  position: absolute;
  z-index: -1;
  opacity: 0;
}
input[type="checkbox"] + span > p:not(.hs-form-required),
input[type="checkbox"] + span:not(.hs-form-required),
.questionnaire .hs-fieldtype-radio ul.inputs-list.multi-container li span{
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  font-size: var(--fontSize12);
  line-height: var(--fontSize16);
  margin: 0;
}
input[type="checkbox"]:not(checked) + span{
  position: relative;
  padding: 32px 0 0 0;
}



form > .hs-fieldtype-checkbox input[type="checkbox"]:not(checked) + span,
form > .hs-fieldtype-booleancheckbox input[type="checkbox"]:not(checked) + span,
form .hs-dependent-field input[type="checkbox"]:not(checked) + span{
  position: relative;
  padding: 0 0 0 32px;
}
input[type="checkbox"]:not(checked) + span a{
  color: var(--black);
}
input[type="checkbox"]:not(checked) + span:before,
form > .hs-fieldtype-checkbox input[type="checkbox"]:not(checked) + span:before,
form > .hs-fieldtype-booleancheckbox input[type="checkbox"]:not(checked) + span:before,
form .hs-dependent-field input[type="checkbox"]:not(checked) + span:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--silver);
  background: transparent;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}
input[type="checkbox"]:not(checked) + span:after,
form > .hs-fieldtype-checkbox input[type="checkbox"]:not(checked) + span:after,
form > .hs-fieldtype-booleancheckbox input[type="checkbox"]:not(checked) + span:after,
form .hs-dependent-field input[type="checkbox"]:not(checked) + span:after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 3px;
  left: 3px;
  opacity: 0;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
  line-height: 0;
  background: var(--silver);
}
input[type="checkbox"]:checked + span:after,
form > .hs-fieldtype-checkbox input[type="checkbox"]:checked + span:after,
form > .hs-fieldtype-booleancheckbox input[type="checkbox"]:checked + span:after,
form .hs-dependent-field input[type="checkbox"]:checked + span:after{
  opacity: 1;
}

.blog__subscribe form .hs-dependent-field input[type=checkbox]:not(checked)+span,
.popup-form__container input[type=checkbox]:not(checked)+span{
}
.blog__subscribe input[type=checkbox]+span>p:not(.hs-form-required){
}
.blog__subscribe form .hs-dependent-field input[type=checkbox]:not(checked)+span:before,
.blog__subscribe form .hs-dependent-field input[type=checkbox]:not(checked)+span:after,
.popup-form__container input[type=checkbox]:not(checked)+span:before,
.popup-form__container input[type=checkbox]:not(checked)+span:after{
}





body form.hs-form .legal-consent-container ul.inputs-list li.hs-form-booleancheckbox {
  font-size: 1rem;
  color: var(--black);
}
input[type="checkbox"]:disabled:not(checked) + span > p:before{
  border: 1px solid var(--lightGrey);
}
input[type="checkbox"]:disabled:not(checked) + span > p{
  color: var(--lightGrey);
}
.legal-consent-container .hs-form-booleancheckbox-display > span {
  margin-left: 0!important;
} */


input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
  color: var(--silver);
}

input::-moz-placeholder,
textarea::-moz-placeholder{
  color: var(--silver);
}

input:-ms-input-placeholder,
textarea::-ms-input-placeholder{
  color: var(--silver);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder{
  color: var(--silver);
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
  color: var(--silver);
}

input::-moz-placeholder, textarea::-moz-placeholder{
  color: var(--silver);
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder{
  color: var(--silver);
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder{
  color: var(--silver);
}

input::placeholder,
textarea::placeholder{
  color:  var(--silver);
}


@media (max-width: 1152px){
}


@media (max-width: 480px){

}



/* BUTTONS */


.button,
form input[type="submit"]{
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
    text-transform: uppercase;
    padding: 23px 26px;
    text-decoration: none;
	text-align: center;
    cursor: pointer;
	min-width: 288px;
    max-width: 100%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;    
    border: 1px solid transparent;
    -webkit-transition: background-color .2s, color .2s, border .2s, -webkit-box-shadow .2s;
    transition: background-color .2s, color .2s, border .2s, -webkit-box-shadow .2s;
    -o-transition: background-color .2s, color .2s, border .2s, box-shadow .2s;
    transition: background-color .2s, color .2s, border .2s, box-shadow .2s;
    transition: background-color .2s, color .2s, border .2s, box-shadow .2s, -webkit-box-shadow .2s;
}
.button span{
    pointer-events: none;
}


.button-BY,
form input[type="submit"]{
    color: var(--white);
    background-color: var(--black);
}
.button-BY:hover,
form input[type="submit"]:hover{
    color: var(--white);
    background-color: var(--silver);  
}

.button-WB{
    color: var(--black);
    background-color: unset !important;
	border: 1px solid var(--black);
}
.button-WB:hover{
    color: var(--white);
    background-color: var(--black) !important;  
}

.button-YG{
	font-weight: 500;
    color: var(--black);
    background-color: unset !important;
	border: 1px solid var(--black);
}
.button-YG:hover{
    color: var(--white);
    background-color: var(--darkGrey) !important;
	border-color: transparent;
}

.button-YB,
.popup-form form input[type="submit"]{
    color: var(--white);
    background-color: var(--gold);
}
.button-YB:hover,
.popup-form form input[type="submit"]:hover{
    color: var(--white);
    background-color: var(--black);  
}


@media (max-width: 767px){
	.button,
	form input[type="submit"]{
		min-width: unset !important;
	}
}

